.playerDiv {
    width: 200px;
    display: inline-block;
}

.rpsSelector {
    width: 100px;
}

.rpsBtnImg {
    width: 100px;
    display: inline-block;
}

.selectedImg {
    width: 200px;
}

#player1Selection, #player2Selection {
    width: 200px;
    height: 200px;
}

#winDisplay {
    width: 200px;
    height: 200px;
    display: inline-block;
}